@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

img {
  object-fit: scale-down; }

body {
  background-color: rgba(187, 187, 187, 0.25);
  background-image: url(../../images/back.jpg);
  background-size: cover;
  background-blend-mode: darken;
  background-attachment: fixed;
  max-width: 1200px;
  margin: 0 auto; }

.heading {
  font-family: "Poppins", sans-serif;
  font-size: 2.2rem;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  margin: 1.5rem 0; }
  .heading::first-letter {
    color: #ff3d2bee;
    text-decoration: underline; }

.subtitle {
  font-family: "Sarabun", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  text-decoration: none;
  text-align: center; }
  .subtitle::first-letter {
    color: #ff3d2bee;
    text-decoration: underline; }

.info {
  font-family: "Sarabun", sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  text-decoration: none; }

.text_inline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1.2rem;
  max-width: 100vw;
  text-align: center; }

.contact_link {
  color: #444444; }

.break_line {
  margin: 1.5rem 0; }

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgba(185, 185, 185, 0.4);
  background-image: url(../../images/back_header.jpg);
  background-size: cover;
  background-blend-mode: lighten;
  border-radius: 0px 80px;
  border: 0.4rem solid #388583a4;
  padding: 1rem;
  margin-top: 32px; }
  .header_info {
    color: #2c2c2c;
    text-align: center; }
    .header_info h1 {
      font-family: "Poppins", sans-serif;
      font-size: 2.4rem;
      font-weight: 600;
      text-decoration: none; }
    .header_info h2 {
      font-family: "Sarabun", sans-serif;
      font-size: 1.8rem;
      font-weight: 500;
      text-decoration: none;
      padding: .5rem; }
      .header_info h2 a {
        color: #444444;
        font-style: italic;
        text-decoration: underline; }
    .header_info img {
      border-radius: 80px;
      box-shadow: 0 0 10px 5px whitesmoke; }

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 5rem 0; }
  .navigation a {
    color: #2c2c2c;
    font-family: "Sarabun", sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    text-decoration: underline; }
    .navigation a:hover {
      font-style: italic;
      font-weight: 600;
      color: #444444; }
  .navigation li {
    padding: 1em;
    background-color: #4f91ce85;
    border: 3px solid #388583a4;
    border-radius: 10px; }

.about_info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }
  .about_info .p_info {
    max-width: 50vw;
    margin-right: 3rem;
    text-align: justify; }
  .about_info img {
    max-height: 150px;
    margin-left: 3rem;
    border-radius: 40px;
    border: 2px solid darkcyan;
    box-shadow: 0 0 10px 5px darkcyan; }

#competency {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 2rem 0; }
  #competency li {
    text-align: right; }
    #competency li .fa-star {
      max-height: 18px;
      color: #ff3d2bee; }

.formation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 1.5rem; }

.experience_section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap; }
  .experience_section p, .experience_section pre {
    max-width: 40vw; }

.list_subtitle {
  margin-bottom: 1rem; }

#references {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap; }

#references a {
  text-decoration: underline; }

footer {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-width: .4rem .4rem 0 .4rem;
  border-style: solid;
  border-color: #388583a4;
  border-radius: 8px;
  padding: 1rem;
  text-align: center; }
  footer .fa-brands, footer .fa-envelope {
    font-size: 2.6rem;
    color: #444444;
    margin: 1rem; }

.fa-square-whatsapp:hover {
  color: green; }

.fa-linkedin:hover {
  color: #0077b5; }

.fa-mail:hover {
  color: #d8ce43; }

.fa-github:hover {
  color: black; }

@media (max-width: 720px) {
  .navigation {
    margin: 2rem 0;
    flex-direction: column; }
    .navigation li {
      margin-top: 2em; }
  .about_info {
    flex-direction: column-reverse; }
    .about_info .p_info {
      margin-right: 0;
      min-width: 80vw; }
    .about_info img {
      max-width: 120px;
      margin-bottom: 1em;
      margin-left: 0px; }
  #competency {
    flex-direction: column; }
    #competency .heading {
      margin-top: 1.5em;
      margin-bottom: .5em; }
  .heading {
    margin-top: 2rem;
    margin-bottom: .5rem; }
  #education, #experience, #references {
    flex-direction: column; }
    #education li, #experience li, #references li {
      margin-bottom: 3rem; } }

@media (max-width: 375px) {
  .header_info h1 {
    font-size: 1.6em; }
  .header_info h2 {
    font-size: 1.4em; }
  .navigation li a {
    font-size: 1.4em; }
  .heading {
    font-size: 1.6em; }
  .info, a, .subtitle {
    font-size: 1.4em; } }
