@media (max-width:720px) {
    .navigation{
        margin: 2rem 0;
        flex-direction: column;
        & li{
            margin-top: 2em;
        }
    }
    
    .about_info{
        flex-direction: column-reverse;
        & .p_info{
            margin-right: 0;
            width: 100vw;
        }
        & img{
            max-width: 120px;
            margin-bottom: 1em;
            margin-left: 0px;
        }
    }

    #competency{
        flex-direction: column;
        & .heading {
            margin-top: 1.5em;
            margin-bottom: .5em;
        }
    }

    .heading {
        margin-top: 2rem;
        margin-bottom: .5rem;
    }

    #education, #experience, #references{
        flex-direction: column;
        & li {
            margin-bottom: 3rem;
        }
    }
}

@media (max-width: 375px){
    .header_info{
        h1{
            font-size: 1.6em;
        }
        h2 {
            font-size: 1.4em;
        }
    }

    .navigation li a{
        font-size: 1.4em;
    }
    
    .heading{
        font-size: 1.6em;
    }
    .info, a, .subtitle{
        font-size: 1.4em;
    }
}