$colors: (
    back-color: #4f91ce85,
    border-color: #388583a4,
    text-color: #2c2c2c,
    secondary-color: #444444,
    accent-color: #ff3d2bee,
);

$text_base: 'Sarabun', sans-serif;
$text_accent: 'Poppins', sans-serif;